
code {
    font-size: 85%;
    border: none;
    background: transparent;
    padding: 2px 3px;
}


.rst-content dl:not(.docutils) dt {
    display: block;
}

.rst-content dt a.reference.internal .viewcode-link {
    float: right;
}

.highlight span.gp {
    /* Make it so that terminal prompts ">>>" don't get selected. */
    -webkit-user-select: none;
    -moz-user-select: none;
}

table.docutils.field-list td.field-body p {
    font-size: 100%;
    line-height: 24px;
}

table.docutils.field-list td.field-body li p {
    display: inline;
}

table.docutils.field-list td.field-body li p + p {
    display: inline;
}

table.docutils.field-list td.field-body li p + p + ul {
    margin-top: -6px;  /* Remove spacing between P and UL */
}