.y-admin-list-view
  dock()

  .y-admin-topics
    dock()
    overflow auto

  .y-admin-topic
    cursor pointer
    padding 10px
    border-left 3px solid transparent
    border-bottom 1px solid #ddd
    &:hover
      background #f5f5f5
    &.y-active
      background #eee
      border-left-color y-color-yellow-dk
      border-left-color y-color-grey-md

  .y-admin-topic-title
    font-size 18px
    font-weight 300

  .y-admin-topic-caption
    font-size 11px
    text-transform uppercase
    color #888
    overflow ellipsis
