body
  font-family 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

h1
  margin-top 5px

th
  text-transform uppercase
  font-weight 500
  font-size 12px
  color #888

pre
  border none
  border-radius 0

label
  font-weight 500
  .caption
    cursor pointer

a
  color inherit
  cursor pointer
  &:hover, &:focus
    color inherit
    border-bottom 1px dotted #000
    text-decoration none
    background y-color-yellow-lt

.btn
  border-radius 1px
  background #eee
  text-transform uppercase
  font-size 75%
  &:hover
    background #ddd

.btn-primary
.btn-primary:active
.btn-primary:focus
  background y-color-yellow-dk
  color inherit
  border-color transparent

.btn-warning
.btn-warning:active
.btn-warning:focus
  color y-color-red
  border-color transparent

.btn-primary:hover
  background y-color-yellow
  color inherit
  border-color transparent

.btn-warning:hover
  background y-color-red
  color white
  border-color transparent

.btn-primary[disabled]
.btn-primary[disabled]:active
.btn-primary[disabled]:focus
.btn-warning[disabled]
.btn-warning[disabled]:active
.btn-warning[disabled]:focus
  background #eee
  border-color transparent

