.y-create-model-dialog
  .y-dialog-margin
    dock(15px, 20px, 5px, 20px)

  .y-dialog-content
    overflow auto
    dock(0, 0, 50px, 0)

  .y-algorithms
    overflow auto
    dock(0, 0, 10px, 0)

  .y-algorithm
    cursor pointer

  .y-algorithm-title
    font-weight 300
    font-size 20px

  .y-validation-error
    padding 10px

  .y-model-parameter
    td
      vertical-align top
      padding 5px

    .y-description
      color #888

    input:focus, select:focus
      outline none !important
      box-shadow none !important

    input[type="text"]
      border 1px solid #ddd 
      &:focus
        border-color #999

    select[multiple], select[size]
      width 100%
      border 1px solid #ddd 
      &:focus
        border-color #999

    label.y-input-inline
      text-transform uppercase
      font-size 11px
      margin-right 3px

    &.y-invalid
      input[type="text"]
        border-color red
        &:focus
          border-color red

      label
        border-bottom 1px dotted red

    &:hover
      .y-description
        color inherit

  // TODO Duplicate of y-import-actions 
  .y-model-actions
    dock-bottom(40px)
    line-height 40px
    text-align right
    border-top 1px solid #ddd
