@import 'nib'
tomorrow-current-line = #efefef
tomorrow-selection = #d6d6d6
tomorrow-foreground = #4d4d4c
tomorrow-comment = #8e908c
tomorrow-red = #c82829
tomorrow-orange = #f5871f
tomorrow-yellow = #eab700
tomorrow-green = #718c00
tomorrow-aqua = #3e999f
tomorrow-blue = #4271ae
tomorrow-purple = #8959a8
f-color-yellow = #FAF185
f-color-yellow-dk = #F6E76A
f-color-orange = #F5A623

monospace()
  font-family Menlo,Monaco,Consolas,"Courier New",monospace

textarea
  &:focus
    outline none

input
  &:focus
    outline none

.f-cell
  margin-bottom 20px
  padding 5px 0
  border 1px solid transparent
  .f-cell-input
    border-left 5px solid f-color-yellow-dk
    padding 0 10px
    textarea
      width 100%
      border none
      monospace()
  &.f-cell-selected
    border 1px solid f-color-orange
    .f-cell-input
      border-color f-color-orange
  &.f-cell-active
    border 1px solid tomorrow-green
    .f-cell-input
      border-color tomorrow-green


