.y-job-view
  .y-tag
    font-size 11px
    text-transform uppercase
    display inline-block
    background y-color-yellow
    padding 3px 5px

  .y-tagline
    color #888
    font-size 12px
    float right

  .y-title
    font-size 36px
    font-weight 300

  .y-subtitle
    font-size 22px
    font-weight 300
    margin-top 35px


