.y-cloud-view
  .y-tag
    font-size 11px
    text-transform uppercase
    display inline-block
    background y-color-yellow
    padding 3px 5px

  .y-tagline
    color #888
    font-size 12px
    float right

  .y-title
    font-size 36px
    font-weight 300

  .y-subtitle
    font-size 22px
    font-weight 300
    margin-top 35px

  .y-node
    font-size 80%
    display inline-block
    float left
    width 200px
    border 1px solid #ddd
    padding 10px
    margin 0 15px 15px 0
    box-shadow 3px 3px 3px 0px rgba(50, 50, 50, 0.1)
    .progress
      height 8px
      margin-bottom 3px
    .progress-bar
      background-color #ffd11a
    .y-progress-bar-alt
      background-color #888

  .y-node-title
    text-transform uppercase
    font-size 125%
    text-align center
    
  .y-node-subtitle
    text-transform uppercase
    margin-bottom 5px
    text-align center

  .y-subtle
    color #aaa 

  .y-node-section
    border-top 1px dotted #bbb
    margin-top 15px

  .y-node-attr
    position relative
    height 16px

  .y-node-l
    dock()
    text-align left

  .y-node-r
    dock()
    text-align right

  .y-node-m
    text-align center
