@font-face 
  font-family 'robotolight'
  src url('../fonts/Roboto-Light-webfont.eot')
  src url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light-webfont.woff') format('woff'), url('../fonts/Roboto-Light-webfont.ttf') format('truetype'), url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg')
  font-weight normal
  font-style normal

@font-face 
  font-family 'robotoregular'
  src url('../fonts/Roboto-Regular-webfont.eot')
  src url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg')
  font-weight normal
  font-style normal

@font-face 
  font-family 'robotobold'
  src url('../fonts/Roboto-Bold-webfont.eot')
  src url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg')
  font-weight normal
  font-style normal




