.fa-btn
  font-size 100%

.y-monospace
  font-family Menlo,Monaco,Consolas,"Courier New",monospace

.y-shade
  background-color #f6f6f6

.y-visible-links
  a, a.help
    border-bottom 1px dotted #000

table.table-kv
  th
    padding-right 5px
  td
    padding 0 5px

.y-mask
  dock()
  background white
  opacity 0.75

.y-summary
  background #f5f5f5
  padding 5px 0

.y-summary-item
  display inline-block
  padding 10px

.y-summary-key
  text-transform uppercase
  font-size 11px
  color #888

.y-middle
  display block
  position absolute
  top 40%
  left 0
  right 0
  text-align center
  color #aaa

.y-predicate
  dock-top(y-desktop-header-height)
  padding 7px 0 0 10px
  background rgba(y-color-yellow, 0.3)
  border-bottom 1px solid #ddd

// Holds the 'select all/none' checkbox
.y-predicate-selector
  dock(12px, 0, 0, 13px)

.y-predicate-caption
  dock(7px, 24px, 0, 30px)
  font-size 11px
  line-height 13px
  text-transform uppercase
  text-align center
  overflow hidden

.y-predicate-clear
  dock-right(24px)
  line-height y-desktop-header-height
  margin 0
  padding 0
  background transparent
  &:hover
    color red
    background transparent

.y-dialog-container
  block()
  left 50%
  top 50%

.y-dialog
  background white
  box-shadow 7px 7px 30px 0px rgba(50, 50, 50, 0.66)
  .y-dialog-title-bar
    background y-color-yellow-dk
    height 35px
    line-height 35px
    text-transform uppercase
    font-size 11px
  .y-dialog-title
    display inline-block
    height 35px
    margin-left 20px
  .y-dialog-exit
    cursor pointer
    display inline-block
    color #777
    background y-color-yellow-dk
    width 32px
    height 35px
    float right
    text-align center
  .y-dialog-body
    padding 15px 20px 5px 20px
    font-size 13px
  .y-dialog-actions
    height 40px
    line-height 40px
    text-align right
    border-top 1px solid #ddd
    margin-top 20px
  h1
    font-size 22px
    font-weight 300
    margin-top 15px
  button
    min-width 60px
.y-dialog-failure
  .y-dialog-title-bar
    background y-color-red
    color white
  .y-dialog-exit
    background y-color-red
    color white

.y-tabs
  border-bottom 1px solid #bbb
  height 30px
  background #f6f6f6
  margin 20px 0

.y-tab
  display inline-block
  color inherit
  cursor pointer
  border 1px solid transparent
  height 30px
  line-height 30px
  text-transform uppercase
  font-size 10px
  padding 0 20px
  &.active
    background #fff
    border-color #bbb
    border-bottom-color #fff

.y-form-header
  text-transform uppercase
  font-size 11px
  padding 0 10px 0 0

.y-form-field
  padding 0 10px 10px 0

.y-spinner-box
  block()
  left 50%
  top 50%
  
.y-spinner
  position absolute
  background-repeat no-repeat

.y-spinner-16
  background-image url(../img/h2o-spin-16.gif)
  dock-top-left(16px, 16px, -16px/2, -16px/2)

.y-spinner-32
  background-image url(../img/h2o-spin-32.gif)
  dock-top-left(32px, 32px, -32px/2, -32px/2)

.y-spinner-48
  background-image url(../img/h2o-spin-48.gif)
  dock-top-left(48px, 48px, -48px/2, -48px/2)

.y-spinner-64
  background-image url(../img/h2o-spin-64.gif)
  dock-top-left(64px, 64px, -64px/2, -64px/2)


.tt-dropdown-menu
  background #fff
  border 1px solid #ccc
  width 100%
  box-shadow 0 5px 10px rgba(0,0,0,.2)

.tt-suggestion
  padding 3px 10px
  line-height 24px
  overflow ellipsis
  &.tt-cursor
    background-color y-color-yellow
  p
    margin 0


