y-navigation-bar-height = 44px
y-topic-lane-width = 320px
y-inspector-lane-width = 320px
y-desktop-header-height = 44px
y-status-bar-height = 24px

y-color-yellow = #fbe920
y-color-yellow-md = #ebcd00
y-color-yellow-dk = #eedd20
y-color-yellow-lt = #fffcd8
y-color-grey-dk = #1d1d1d
y-color-grey-md = #4c4c4c
y-color-font-bold = #262626
y-color-font-regular = #1d1d1d
y-color-font-light = #8e8e8e
y-color-hyperlink = #4388db
y-color-red = #d9534f
