*.class
*.hprof
*.pyc
*.swp
*.iml
*hs_err_pid*
*stdout.txt
*~
/AwsCredentials.properties
TAGS
bin/
build.local.conf
flatfile*
ice
pytest_flatfile-*
sandbox
syn_datasets
build/
lib/
h2o-client/src/main/resources/www/steam
out/
.idea/
h2o2.ipr
h2o2.iws
.settings/*
.gradle
src/main/java/water/BuildVersion.java
.Rproj.user
R/.RData
R/.Rhistory
Rsandbox
.DS_Store
.DS_Store?
h2o2.ipr
