*.class
*.hprof
*.pyc
*.swp
*.iml
*hs_err_pid*
*stdout.txt
*~
/AwsCredentials.properties
TAGS
bin/
build.local.conf
flatfile*
ice
pytest_flatfile-*
sandbox
syn_datasets
build/
lib/
h2o-web/src/main/resources/www/steam
h2o*/test-output/
test-output/
out/
.idea/
*.ipr
*.iws
.settings/*
.gradle
src/main/java/water/BuildVersion.java
.Rproj.user
R/.RData
R/.Rhistory
Rsandbox
.DS_Store
.DS_Store?
h2o-dev.ipr
node_modules/
private/

