*.class
*.hprof
*.pyc
*.swp
*.iml
*hs_err_pid*
*stdout.txt
*~
/AwsCredentials.properties
TAGS
bin/
build.local.conf
flatfile*
ice
pytest_flatfile-*
sandbox*/
syn_datasets
build/
lib/
classes/
h2o-web/src/main/resources/www/steam
h2o-web/src/main/resources/www/flow
h2o-web/src/main/resources/www/3/h2o-genmodel.jar
h2o*/test-output/
test-output/
results/
out/
.idea/
*.ipr
*.iws
*.Rout
*.Rd
*.h4xd
h2o-r/h2o-package/DESCRIPTION
.settings/*
gradle-app.setting
.gradle
src/main/java/water/BuildVersion.java
.Rproj.user
.RData
.Rhistory
*.Rproj
*.Rbuildignore
Rsandbox
.DS_Store
.DS_Store?
h2o-dev.ipr
node_modules/
private/
*Rsandbox*
h2o-r/R/
h2o-r/h2o-package/inst/branch.txt
h2o-r/h2o-package/man/inst/buildnum.txt
h2o-r/h2o-package/inst/java/
h2o-r/h2o-package/inst/source_code_repository_info.txt
h2o-r/h2o-package/man/h2o-package.Rd
h2o-r/h2o-package/NAMESPACE
h2o-r/h2o-package/docs/*
py2/testdir_single_jvm/h2o_fc-nodes.json
h2o-py/demos/.ipynb_checkpoints
Rplots.pdf
guidelines.py

# Don't delete local R packages
Rlibrary

# Data folders
bigdata
smalldata

# Ignore Eclipse project settings
.classpath
.project
.settings/

# Stuff created by 'gradle dist'
h2o-dist/tmp
target
h2o-test-accuracy/testng.xml

# stuff created by sphinx-build (python docs)
h2o-py/docs/_build/

git_private_jenkins.sh
make-java6.sh

# Ignore generated code
h2o-bindings/src-gen/
h2o-grpc/proto-gen/
h2o-3-DESCRIPTION
gradle/buildnumber.properties
*_pb2.py
*_pb2_grpc.py

# Doc stuff
.Rapp.history
*.synctex.gz

# Ignore gradle home files
caches
native

# Ignore Sublime Text project settings
*.sublime-project
*.sublime-workspace

# Ignore Jupyter Notebook project files
*.ipynb_checkpoints/
*.ipynb

h2o-docs/src/booklets/source/DeepLearningBooklet.top

h2o-docs/src/booklets/source/DeepLearningBooklet.tui

h2o-docs/src/booklets/source/DeepLearningBooklet-mpgraph.mp

h2o-docs/src/booklets/source/GBMBooklet-mpgraph.mp

h2o-docs/src/booklets/source/GBMBooklet.top

h2o-docs/src/booklets/source/GBMBooklet.tui

h2o-docs/src/booklets/source/GLMBooklet-mpgraph.mp

h2o-docs/src/booklets/source/GLMBooklet.top

h2o-docs/src/booklets/source/GLMBooklet.tui

h2o-docs/src/booklets/source/PythonBooklet-mpgraph.mp

h2o-docs/src/booklets/source/PythonBooklet.top

h2o-docs/src/booklets/source/PythonBooklet.tui

*.mp

*.top

*.tui

*.gz(busy)

h2o-web/package-lock.json
