# generated/tmp files
h2o-package/docs/
h2o-package/inst/java/
h2o-package/inst/branch.txt
h2o-package/inst/source_code_repository_info.txt
h2o-package/NAMESPACE

R/README.md
R/h2o_package.pdf
R/src/contrib/
results/

buildnum.txt
*.Rd
*.Rout
.Rd2pdf*/
*.tar.gz
h2o_package.pdf

# user env
.Rproj.user
.RData
.Rhistory
*.Rproj
*.Rbuildignore
Rsandbox
