.y-frame-view
  .clearfix
    .y-tag Dataset
    .y-tagline(data-bind='timeago:timestamp')
  h1.y-title(data-bind='text:title')

  // ko ifnot:isRawFrame
  h2.y-subtitle(data-bind='collapse:false') Data
  .y-data
    // ko with:table
    table.table.table-condensed.table-striped
      // ko with:header
      thead
        tr
          th(data-bind='text:header')
          // ko foreach:cells
          th(data-bind='text:$data')
          // /ko
      // /ko
      tbody
        // ko foreach:rows
        tr
          th(data-bind='text:header')
          // ko foreach:cells
          td(data-bind='text:$data')
          // /ko
        // /ko
    // /ko
  // /ko

  // ko if:isRawFrame
  h2.y-subtitle(data-bind='collapse:false') Parse
  p This is a raw dataset. You need to parse this dataset first before you can use it in H<sub>2</sub>O.
  p
    a(target='_blank' data-bind='attr:{ href:parseUrl }') Parse this dataset&hellip;

  // /ko
  h2.y-subtitle(data-bind='collapse:true') JSON
  pre(data-bind='json:data')

