.y-dialog-container
  .y-dialog.y-parse-files-dialog(data-dialog-width='600')
    .y-dialog-title-bar
      .y-dialog-title Parse File
      .y-dialog-exit(data-bind='click:cancel')
        i.fa.fa-times 
    .y-dialog-body
      form
        .form-group
          label Source Key:
          div(data-bind='text:sourceKey')
        .form-group
          label Destination Key:
          input.form-control(type='text' data-bind='value:destinationKey')
        .checkbox
          label 
            input(type='checkbox' data-bind='checked=deleteOnDone') 
            span Delete on done
        .form-group
          .y-error-message(data-bind='text:errorMessage')
        .y-dialog-actions
          button.btn(data-bind='click:cancel') Cancel
          button.btn.btn-primary(data-bind='click:confirm') OK



