.y-file-view
  .clearfix
    .y-tag File
    .y-tagline(data-bind='timeago:timestamp')
  h1.y-title(data-bind='text:title')
  h2.y-subtitle(data-bind='collapse:false') Import Results
  pre(data-bind='json:data')
  // ko ifnot:isParsed
  button.btn-primary(data-bind='click:parse') Parse
  // /ko
  // ko if:isParsed
  h2.y-subtitle(data-bind='collapse:false') Parse Results
  pre(data-bind='json:parseData')
  // /ko


