.y-frame-view
  .clearfix
    .y-tag Dataset
    .y-tagline(data-bind='timeago:timestamp')
  h1.y-title(data-bind='text:title')

  // ko ifnot:isRawFrame
  h2.y-subtitle(data-bind='collapse:false') Columns 
    span(data-bind='text:columnCount')
  .y-columns
    table.table.table-condensed
      tbody
        // ko foreach:columns
        tr
          td(data-bind='text:$data')
        // /ko

  // ko if:hasCompatibleModels
  h2.y-subtitle(data-bind='collapse:false') Compatible Models 
    span(data-bind='text:compatibleModelsCount')
  div
    .y-models
      table.table.table-condensed
        thead
          tr
            th
              a.help(data-bind="help:'model.key'") Key
            th
              a.help(data-bind="help:'model.method'") Method
            th
              a.help(data-bind="help:'model.category'") Category
            th
              a.help(data-bind="help:'model.response_column'") Response Column
        tbody
          // ko foreach:compatibleModels
          tr
            td
              a.help(data-bind='text:key, help:inspect')
            td
              a.help(data-bind='text:algorithm, help:inspectAlgorithm')
            td
              a.help(data-bind='text:category, help:inspectCategory')
            td(data-bind='text:responseColumnName')
          // /ko

    .y-controls
      button.btn(data-bind='click:loadCompatibleModels') View These Models&hellip;
  // /ko

  // /ko

  // ko if:isRawFrame
  h2.y-subtitle(data-bind='collapse:false') Parse
  p This is a raw dataset. You need to parse this dataset first before you can use it in H<sub>2</sub>O.
  p
    a(target='_blank' data-bind='attr:{ href:parseUrl }') Parse this dataset&hellip;

  // /ko
  h2.y-subtitle(data-bind='collapse:true') JSON
  pre(data-bind='json:data')

