        .node circle{
        stroke: red;
        stroke-width: 1.5px;
        }

        .node{
        font-size:13px;
        font-family:Times;
		font-weight: bold;
        }

        .node:hover{
        font-size:14px;
        }

        .node:hover circle{
        stroke: yellow;
        }


        .link{
        fill: none;
        stroke: grey;
        stroke-width: 1.5px;
        }

        #sidebar{
        float:right;
        border: 2px dashed grey;
		border-bottom: none;
		border-right: none;
        width:300px;
        padding:20px;
        margin:20px;
        padding-top: 10px;
		margin-right: 0px;
        }
		#topPage{
			border-top: solid 5px yellow;
			padding: 0px;
		}

		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		a{
			link-style: none;
			color: grey;
		}
		a:hover{
			background-color: yellow;
			color: grey;
		}

		li{
			display:inline;
			padding-right: 20px;
		}
		#logo{
			font-size:40px;
			color:grey;
		}
		#tinyMenu{
			border-bottom: solid 2px yellow;
			font-family: Helvetica;
			font-size:12px;
			color:gray;
		}
		#nameTree{
			font-size:20px;
		}
		#saveMenu{
			margin-top: 20px;

		}
		#otherTopPage{
		float: right;
		margin-bottom: 40px;
		}