@font-face {
    font-family: 'futura_ltlight';
    src: url('../fonts/futuralt-light-webfont.eot');
    src: url('../fonts/futuralt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-light-webfont.woff') format('woff'),
         url('../fonts/futuralt-light-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-light-webfont.svg#futura_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltregular';
    src: url('../fonts/futuralt-webfont.eot');
    src: url('../fonts/futuralt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-webfont.woff') format('woff'),
         url('../fonts/futuralt-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-webfont.svg#futura_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltbold';
    src: url('../fonts/futuralt-bold-webfont.eot');
    src: url('../fonts/futuralt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-bold-webfont.woff') format('woff'),
         url('../fonts/futuralt-bold-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-bold-webfont.svg#futura_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
    font-family:  'futura_ltlight', sans-serif; font-weight: bold;
}

h2, h3, h4, h5, h6
{
    font-family:  'futura_ltlight', sans-serif; font-weight: bold;
}

/* h link tags for url decoration */
h1 .h-link-more,
h2 .h-link-more,
h3 .h-link-more,
h4 .h-link-more,
h5 .h-link-more {
  margin-left: .75em;
}
h1 .h-link-more,
h2 .h-link-more,
h3 .h-link-more {
  font-size: .5em;
}
h4 .h-link-more,
h5 .h-link-more {
  font-size: .75em;
}
.h-link-more--color-orange {
  color: #ff5224;
}
.h-link-more--color-white {
  color: #fff;
}
.h-link-more--size-md {
  font-size: 17px;
}
.h-link-more--size-lg {
  font-size: 24px;
}

/* h link tags for url decoration */

section header h2 {
    font-family: 'futura_ltlight';
}

#Promo .jumbotron p {
    font-family: 'futura_ltlight';
}

.team-description h4 {
    font-family: 'futura_ltlight';
}

.team-description .close {
    font-family: 'futura_ltlight';
}

.advisors-item p {
    font-family: 'futura_ltlight';
}

#Contact .form .form-control {
    font-family: 'futura_ltlight';
}

#Promo .jumbotron h1 {
    font-family: 'futura_ltbold';
}
#Promo .jumbotron h2 {
    font-family: 'futura_ltlight';
}

.content-header h1 {
    font-family: 'futura_ltlight';
}
.customers-list-item h2 {
    font-family: 'futura_ltlight';
}
.customers-list-item .image .cover .label {
    font-family: 'futura_ltbold';
}

#News nav {
    font-family: 'futura_ltlight';
}
#News .tab-content a .image .cover .label {
    font-family: 'futura_ltbold';
}

#Why_H2O h1 {
    font-family: 'futura_ltlight';
}
#Why_H2O .modal-trigger .image .cover .label {
    font-family: 'futura_ltbold';
}
