@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e60b";
}
.icon-meetup:before {
	content: "\e609";
}
.icon-facebook:before {
	content: "\e607";
}
.icon-youtube:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-arrow-down:before {
	content: "\e60a";
}
.icon-arrow-up:before {
	content: "\e602";
}
.icon-pinterest:before {
	content: "\e603";
}
.icon-google-plus:before {
	content: "\e604";
}
.icon-github:before {
	content: "\e605";
}
.icon-arrow-right:before {
	content: "\e608";
}
.icon-arrow-left:before {
	content: "\e606";
}
