import(methods)
import(RCurl)
importFrom(graphics, barplot, lines)
importFrom(rjson, fromJSON)
importFrom(stats, binomial, Gamma, gaussian, poisson, runif)
importFrom(statmod, tweedie)
importFrom(tools, md5sum)
importFrom(utils, download.file, packageVersion, read.csv,
           setTxtProgressBar, txtProgressBar, URLencode, write.csv)

exportPattern("^[[:alpha:]]+")
export("%in%")
exportMethods(
  "show", "%in%"
)
exportClasses(
  "H2ORawData",
  "H2OFrame",
  "H2OModel",
  "H2OUnknownModel",
  "H2OBinomialModel",
  "H2OMultinomialModel",
  "H2ORegressionModel",
  "H2OClusteringModel"
)
