import("RCurl", "rjson", "statmod", "methods")
importFrom("utils", "installed.packages")
exportPattern("^[[:alpha:]]+")
exportMethods(
  "show"
)
exportClasses(
  "H2OClient",
  "H2OGLMModel",
  "H2OKMeansModel",
  "H2OParsedData",
  "H2ORawData",
  "H2ODRFModel",
  "H2OPCAModel",
  "H2ONBModel",
  "H2OGBMModel",
  "H2OModel"
)
