import("RCurl", "rjson", "statmod", "methods")
importFrom("utils", "installed.packages")
exportPattern("^[[:alpha:]]+")
export("%in%")
exportMethods(
  "show", "%in%"
)
exportClasses(
  "h2o.frame",
  "H2OGLMModel",
  "H2OKMeansModel",
  "h2o.frame",
  "H2ORawData",
  "H2ODRFModel",
  "H2OPCAModel",
  "H2ONBModel",
  "H2OGBMModel",
  "H2OModel"
)
