.y-import-files-dialog
  .y-search-panel
    margin-bottom 20px
    table
      width 100%
    input
      display inline-block
      width 100%
      border-radius 0
    button
      height 34px
      border 1px solid #ccc
      border-left none
  .y-dialog-content
    overflow auto
    height 400px
  .y-error-message
    color red
    overflow auto
    height 75px
