.y-topic-list-view
  dock()
  background white

.y-topic
  cursor pointer
  height 50px
  border-bottom 1px solid #ddd
  font-size 22px
  font-weight 300
  banner(50px)
  text-align center
  &:hover
    background #f7f7f7
  &.y-disabled
    color #ccc
    cursor default


