tr.y-model-parameter(data-bind="css:{'y-invalid':isInvalid}")
  td.y-shrink
    label(data-bind="text:label, attr:{ 'for':clientId }")
  td.y-shrink
    input(type='checkbox' data-bind="checked:value, attr:{ 'id':clientId }")
  td.y-expand
    span.y-description(data-bind='text:description')


