.y-model-parameter(data-bind="css:{'y-invalid':isInvalid}, tooltip:description")
  label.checkbox-inline
    input(type='checkbox' data-bind='checked:value')
    span.caption(data-bind='text:label')


