.y-column-summary-view
  h1(data-bind='text:columnLabel')

  // ko with:characteristics
  h2 Characteristics
  .y-characteristics(style='margin:0 0 16px 0' data-bind='geyser:graphic')
  table.y-monospace(style='width:100%')
    thead
      tr
        // ko foreach:parts
        th
          span(style='display:inline-block;width:10px;height:10px;margin-right:5px' data-bind="style:{ background:color }")
          span(data-bind='text:label')
        // /ko
    tbody
      tr
        // ko foreach:parts
        td(data-bind='text:count')
        // /ko
      tr(style='color:#8e8e8e')
        // ko foreach:parts
        td(data-bind='text:percent')
        // /ko
  // /ko

  // ko with:histogram
  h2 Histogram
  .y-histogram(data-bind='geyser:graphic')
  // ko with:data
  table.y-monospace(style='width:100%')
    tbody
      tr
        td(data-bind='text:start')
        td(style='text-align:right' data-bind='text:end')
  // /ko
  // /ko

  // ko with:boxplot
  h2 Box plot
  .y-boxplot(data-bind='geyser:graphic')
  // /ko

  // ko with:topCounts
  h2(data-bind='text:caption')
  .y-topcounts(data-bind='geyser:graphic')
  // /ko

