doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H2O Flow
    meta(name='description', content='H2O REPL')
    link(rel='stylesheet', href='css/lib-flow.css', type='text/css')
    link(rel='stylesheet', href='css/flow.css', type='text/css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/tomorrow.min.css', type='text/css')
    //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,700,400', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', type='text/css')

    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- WARNING: Respond.js doesn't work if you view the page via file://
    <!--[if lt IE 9]>
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    <![endif]-->
  body
    <!--[if lt IE 9]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    
    //- Recursively include other .jade files
    //- include repl

    // ko with:view
    .container
      .f-header
        img.f-logo(src="img/flow.png")
      .f-repl(data-bind='template:{ name:template, foreach:cells }')
    // /ko
    
    script(type="text/html" id="flow-h1")
      .f-html
        h1(data-bind="text:text")

    script(type="text/html" id="flow-h2")
      .f-html
        h2(data-bind="text:text")

    script(type="text/html" id="flow-h3")
      .f-html
        h3(data-bind="text:text")

    script(type="text/html" id="flow-h4")
      .f-html
        h4(data-bind="text:text")

    script(type="text/html" id="flow-h5")
      .f-html
        h5(data-bind="text:text")

    script(type="text/html" id="flow-h6")
      .f-html
        h6(data-bind="text:text")

    script(type="text/html" id="flow-md")
      .f-html(data-bind="html:html")

    script(type="text/html" id="flow-raw")
      .f-raw
        pre(data-bind="text:text")

    script(type="text/html" id="flow-help")

    script(type="text/html" id="flow-cell")
      .f-cell(data-bind="click:select, css:{ 'f-cell-selected':isSelected, 'f-cell-active':isActive, 'f-cell-ready':isReady, 'f-cell-busy':isBusy, 'f-cell-error':hasError }")
        .f-cell-input(data-bind='visible:hasInput')
          textarea(placeholder='Expression...' rows='1' spellcheck='false' data-bind="value:input, valueUpdate:'afterkeydown', hasFocus:isActive, attr:{ 'rows':lineCount }, cursorPosition:_cursorPosition")
        // ko if:isBusy
        .progress(style='height:9px')
          .progress-bar.progress-bar-striped.progress-bar-warning.active(role='progressbar' style='width:100%')
            span.sr-only Computing&hellip;
        // /ko
        // ko with:output
        .f-cell-output(data-bind='template:template, data:$data')
        // /ko

    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js')
    script(src='js/lib-flow.js')
    script(src='js/flow.js')

    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-29263631-3');ga('send','pageview', { 'title': 'h2o-steam' });


