.y-frame-view
  .clearfix
    .y-tag Dataset
    .y-tagline(data-bind='timeago:timestamp')
  h1.y-title(data-bind='text:title')

  h2.y-subtitle(data-bind='collapse:false') Data
  .y-data
    // ko with:table
    div(style='overflow:auto')
      table.table.table-condensed.table-striped.y-monospace
        thead
          tr
            th Label
            // ko foreach:header
            th(data-bind='text:$data')
            // /ko
        tbody

          tr.y-summary-row
            th Type
            // ko foreach:typeRow
            td(data-bind='text:$data')
            // /ko

          tr.y-summary-row
            th Min
            // ko foreach:minRow
            td(data-bind='text:$data')
            // /ko

          tr.y-summary-row
            th Max
            // ko foreach:maxRow
            td(data-bind='text:$data')
            // /ko

          tr.y-summary-row
            th Mean
            // ko foreach:meanRow
            td(data-bind='text:$data')
            // /ko

          tr.y-summary-row
            th Sigma
            // ko foreach:sigmaRow
            td(data-bind='text:$data')
            // /ko

          // ko if:hasEnums
          tr.y-summary-row
            th Cardinality
            // ko foreach:cardinalityRow
            td(data-bind='text:$data')
            // /ko
          // /ko

          // ko if:hasMissings
          tr.y-summary-row
            th Missings
            // ko foreach:missingsRow
            td(data-bind='text:$data')
            // /ko
          // /ko

          // ko if:hasZeros
          tr.y-summary-row
            th Zeros
            // ko foreach:zerosRow
            td(data-bind='text:$data')
            // /ko
          // /ko

          // ko if:hasPinfs
          tr.y-summary-row
            th +Inf
            // ko foreach:pinfsRow
            td(data-bind='text:$data')
            // /ko
          // /ko

          // ko if:hasNinfs
          tr.y-summary-row
            th -Inf
            // ko foreach:ninfsRow
            td(data-bind='text:$data')
            // /ko
          // /ko

          tr.y-summary-row
            th Summary
            // ko foreach:summaryRow
            td.y-clickable(data-bind='click:displaySummary') 
              i.fa.fa-share-square-o
            // /ko

          // ko foreach:dataRows
          tr
            th(data-bind='text:header')
            // ko foreach:cells
            td(data-bind='text:$data')
            // /ko
          // /ko
    // /ko

  h2.y-subtitle(data-bind='collapse:true') JSON
  pre(data-bind='json:data')

