.y-frame-selection-view
  // ko if:hasActiveFrame
  button.btn.btn-primary(title='Train a model on this frame' data-bind='click:createModel') Create Model...
  button.btn.btn-warning(title='Permanently delete this frame' style='float:right' data-bind='click:deleteFrame' disabled) Delete
  // /ko


