doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title H2O
    meta(name='description', content='H2O Web Client')
    link(rel='stylesheet', href='css/lib.css')
    link(rel='stylesheet', href='css/steam.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300', rel='stylesheet', type='text/css')

    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- WARNING: Respond.js doesn't work if you view the page via file://
    <!--[if lt IE 9]>
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    <![endif]-->
  body
    <!--[if lt IE 9]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    
    //- Recursively include other .jade files
    include main-view

    script(type="text/html" id="help")
      include help
    script(type="text/html" id="geyser")
      include geyser
    script(type="text/html" id="alert-dialog")
      include alert-dialog
    script(type="text/html" id="error-dialog")
      include error-dialog
    script(type="text/html" id="confirm-dialog")
      include confirm-dialog
    script(type="text/html" id="select-frame-dialog")
      include select-frame-dialog
    script(type="text/html" id="configure-strip-plot-dialog")
      include configure-strip-plot-dialog
    script(type="text/html" id="import-files-dialog")
      include import-files-dialog
    script(type="text/html" id="create-model-dialog")
      include create-model-dialog
    script(type="text/html" id="textbox-model-parameter")
      include textbox-model-parameter
    script(type="text/html" id="checkbox-model-parameter")
      include checkbox-model-parameter
    script(type="text/html" id="dropdown-model-parameter")
      include dropdown-model-parameter
    script(type="text/html" id="list-model-parameter")
      include list-model-parameter
    script(type="text/html" id="topic-list-view")
      include topic-list-view
    script(type="text/html" id="frame-list-view")
      include frame-list-view
    script(type="text/html" id="frame-selection-view")
      include frame-selection-view
    script(type="text/html" id="model-list-view")
      include model-list-view
    script(type="text/html" id="model-selection-view")
      include model-selection-view
    script(type="text/html" id="scoring-list-view")
      include scoring-list-view
    script(type="text/html" id="notification-list-view")
      include notification-list-view
    script(type="text/html" id="job-list-view")
      include job-list-view
    script(type="text/html" id="admin-list-view")
      include admin-list-view
    script(type="text/html" id="empty-view")
      include empty-view
    script(type="text/html" id="frame-view")
      include frame-view
    script(type="text/html" id="model-inspection-view")
      include model-inspection-view
    script(type="text/html" id="model-view")
      include model-view
    script(type="text/html" id="frame-inspection-view")
      include frame-inspection-view
    script(type="text/html" id="scoring-view")
      include scoring-view
    script(type="text/html" id="notification-view")
      include notification-view
    script(type="text/html" id="job-view")
      include job-view
    script(type="text/html" id="cloud-view")
      include cloud-view
    script(type="text/html" id="timeline-view")
      include timeline-view
    script(type="text/html" id="scoring-selection-view")
      include scoring-selection-view
    script(type="text/html" id="column-summary-view")
      include column-summary-view

    script(src='js/lib.js')
    script(src='js/steam.js')

    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-29263631-3');ga('send','pageview', { 'title': 'h2o-steam' });

