.y-job-list-view
  // ko if:hasItems
  .y-jobs
    // ko foreach:items
    .y-job(data-bind='click:display, css:{"y-active":isActive}')
      .y-job-title(data-bind='text:destinationKey')
      .progress(style='height:8px')
        .progress-bar(data-bind="style:{background:statusColor,width:progress}")
      .y-job-caption(data-bind='text:caption')

    // /ko

  .y-predicate
    .y-predicate-caption(data-bind='paragraph:predicateCaption')
    button.y-predicate-clear.btn.fa-btn.fa.fa-times-circle(data-bind='visible:canClearPredicate, click:clearPredicate' title='Clear')
  // /ko

  // ko ifnot:hasItems
  .y-no-jobs
    .y-middle No jobs to display.
  // /ko


