.y-job-view
  .clearfix
    .y-tag Job
  // ko with:job
  h1.y-title(data-bind='text:destinationKey')

  h2.y-subtitle(data-bind='collapse:false') Status
  .y-parameters
    .y-summary
      .y-summary-item
        .y-summary-key Status
        .y-summary-value(data-bind='text:status')
      .y-summary-item
        .y-summary-key Progress
        .y-summary-value(data-bind='text:progress')
      .y-summary-item
        .y-summary-key Duration
        .y-summary-value(data-bind='text:duration')

  // ko if:exception
  h2.y-subtitle(data-bind='collapse:false') Exception
  pre(data-bind='paragraph:exception')
  // /ko

  // ko ifnot:exception
  // ko ifnot:isRunning
  div(style='margin:10px 0')
    button.btn.btn-primary(data-bind='click:$parent.viewResult') Inspect Results
  // /ko
  // /ko

  // /ko


