.y-model-selection-view
  // ko if:hasActiveModel
  button.btn.btn-primary(title='Create a clone of this model' data-bind='click:cloneModel') Clone Model...
  // /ko
  // ko if:hasSelection
  .y-caption(data-bind='text:caption')
  //- This div exists because mouse events are not triggered on disabled elements
  .y-hover-capture(data-bind='hover:tryScoreSelections')
    button.btn.btn-primary(title='Score selected models' data-bind='click:scoreSelections, enable:canScoreSelections') Score&hellip;
  button.btn(title='Clear selections' data-bind='click:clearSelections') Clear
  // /ko
