tr.y-model-parameter(data-bind="css:{'y-invalid':isInvalid}")
  td.y-shrink
    label(data-bind='text:label')
  td.y-shrink
    input(type='text' data-bind='value:value')
  td.y-expand
    span.y-description(data-bind='text:description')
