pip
colorama>=0.3.8
future
requests
winkerberos >= 0.5.0; sys.platform == 'win32'
pykerberos >= 1.1.8, < 2.0.0; sys.platform != 'win32'
tabulate
slam
cython
twine
urllib3
grip
wheel
numpy
scipy
pandas
statsmodels
patsy
sklearn
six
seaborn
matplotlib
sphinx
numpydoc
mysqlclient
recommonmark
sphinx_rtd_theme
sphinxcontrib-osexample
