pip
colorama>=0.3.8
future
requests
tabulate
slam
cython
twine
urllib3
grip
wheel
numpy
scipy
pandas
statsmodels
patsy
sklearn
six
seaborn
matplotlib
sphinx
numpydoc
mysqlclient
recommonmark
sphinx_rtd_theme
sphinxcontrib-osexample
