<suite name="Algos single-node suite" verbose="1">
    <test name="hex single node">
        <groups>
            <run>
                <exclude name="multi-node" />
                <exclude name="NOPASS" />
            </run>
        </groups>
        <packages>
            <package name="water.testframework.onenode" />
            <package name="hex.example" />
            <package name="hex.deeplearning" />
            <package name="hex.kmeans" />
        </packages>
    </test>
</suite>
